{% if action.value == "open" -%}
I have opened the curtain.
{% elif action.value == "close" -%}
I have closed the curtain.
{% elif action.value == "set" -%}
I set the position of the curtain to {{ parameters.position}}.
{% endif -%}
