{% if parameters.targets|length > 0 -%}
    {%- if action.value == "open" -%}
        The curtains have been opened.
    {%- elif action.value == "close" -%}
        The curtains have been closed.
    {%- endif %}
{% else -%}
    No curtains were found for the specified room.
{% endif %}
